* { margin:0; padding:0; font-size:14px; font-family: Arial, Helvetica, sans-serif; }
body { color: #333; }
.blotter-grid { position:relative; width:100%; }
.blotter-grid table { padding: 20px;border-spacing: 0;border-collapse: separate; width: 100%;}
.blotter-grid thead th {white-space: nowrap;padding: 10px;border-bottom: 1px solid #111;font-weight: bold;text-align: left;}
.blotter-grid tr { background-color: #fff; }
.blotter-grid tr:nth-of-type(2n-1) {background-color: #f1f1f1;}
.blotter-grid thead tr { background-color: #f6f6f6 !important; }
.blotter-grid tr:hover { background-color: #eee; }
.blotter-grid td { border-top: none; white-space: nowrap; padding: 8px 10px; }
.blotter-grid td input[type="text"] { border: none; background: none; outline: none; width: 85px; vertical-align: 2px;}
.ui-datepicker-calendar{padding:0;font-size:12px}
a.ui-datepicker-next.ui-corner-all{position:absolute;right:10px}
a.ui-datepicker-prev.ui-corner-all{position:absolute}
.ui-datepicker table{border:1px solid #ccc;border-top:none;background:#fff}
.ui-datepicker-title{text-align:center;font-weight:700}
.ui-datepicker-header.ui-widget-header{padding:10px;border:1px solid #ccc;border-bottom:none;background:#fff}
.ui-datepicker-calendar td{padding: 6px 8px;text-align:center;}
.ui-datepicker-calendar td a{color:inherit;text-decoration:none}
.ui-datepicker-calendar td:not(.ui-datepicker-titleui-datepicker-unselectable):hover{background:#c7c7c7;cursor:pointer}
a.ui-datepicker-next:hover, a.ui-datepicker-prev:hover{cursor:pointer;color:#aaa}