* { margin:0; padding:0; font-size:14px; font-family: Arial, Helvetica, sans-serif; }
body { color: #333; }
.blotter-grid {position:relative;width:100%;padding: 20px;display: block;box-sizing: border-box;}
.blotter-grid table {border-spacing: 0;border-collapse: separate;width: 100%;border: 1px solid #ddd;}
.blotter-grid thead th {white-space: nowrap;padding: 10px;border-bottom: 1px solid #111;font-weight: bold;text-align: left;position: relative;}
.blotter-grid thead th.AdaptableGrid-sortable{cursor:pointer;}
.blotter-grid thead th.ui-draggable-dragging { border: 1px solid #ddd; background: #f7f7f7;width: 150px;}
.blotter-grid thead th.AdaptableGrid-sort:after {content: " ";position:absolute;border: 7px solid transparent;border-left-width: 5px;border-right-width: 5px;}
.blotter-grid thead th.AdaptableGrid-sort-asc:after {border-bottom-color:black;margin: -2px 10px;}
.blotter-grid thead th.AdaptableGrid-sort-des:after {border-top-color:black;margin: 6px 10px;}
.blotter-grid thead th.AdaptableGrid-dropafter:after{content: " ";border: 10px solid transparent;border-left-width: 6px;border-right-width: 6px;border-top-color: #aaa;border-bottom-color: #aaa;position:absolute;width: 0;height: 16px;margin: -10px 0 0 0;right: 5px;}
.blotter-grid tr { background-color: #fff; }
.blotter-grid tr:nth-of-type(2n-1) {background-color: #f1f1f1;}
.blotter-grid thead tr { background-color: #f6f6f6 !important; }
.blotter-grid tr:hover { background-color: #eee; }
.blotter-grid td {border-top: none;white-space: nowrap;padding: 8px 10px;overflow: hidden;position: relative;}
.blotter-grid td.ui-selecting,.blotter-grid td.ui-selected{background: #b2cede;}
.blotter-grid td input[type="text"].invisible {border: none;background: none;outline: none;width: 100px;vertical-align: 2px;}
.blotter-grid .AdaptableGrid-pages{background: #f1f1f1;padding: 10px 15px;border: 1px solid #ddd;border-top: none;}
.blotter-grid .AdaptableGrid-page-prev,.blotter-grid .AdaptableGrid-page-next{border: 10px solid transparent;border-left-color: #666;border-top-width: 7px;border-bottom-width: 7px;width: 0;height: 0;display: inline-block;vertical-align: -2px;cursor: pointer;margin-left: 20px;}
.blotter-grid .AdaptableGrid-page-prev{border-left-color: transparent;border-right-color: #666;margin-right: 10px;}
.blotter-grid .AdaptableGrid-page-prev:hover,.blotter-grid .AdaptableGrid-page-next:hover{opacity:0.6;}
.blotter-grid .AdaptableGrid-page-disabled {border-color:transparent; cursor: default;}
.blotter-grid .AdaptableGrid-currentpage { display:inline-block; width:15px;}
.blotter-grid td.abjs-editing input {outline: none;border: none;background: #ccc;padding: 5px 8px;margin: -13px -8px;position: absolute;width: 100%;box-sizing: border-box;}
.blotter-grid .noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none;}